POSTGRES_DB=qypos
POSTGRES_USER=qypos
POSTGRES_PASSWORD=qypos_password
DATABASE_URL=postgres://qypos:qypos_password@postgres:5432/qypos
REDIS_URL=redis://redis:6379
API_PORT=4000
NEXT_PUBLIC_API_PORT=4000
NEXT_PUBLIC_API_URL=/api-proxy
API_INTERNAL_URL=http://localhost:4000
PRINTER_DATABASE_URL=postgres://qypos:qypos_password@localhost:5433/qypos
PRINTER_REDIS_URL=redis://localhost:6379
PRINTER_DEFAULT_HOST=192.168.1.100
PRINTER_DEFAULT_PORT=9100
BACKUP_DIR=/app/backups
DOJO_API_KEY=
DOJO_API_BASE_URL=https://api.dojo.tech
DOJO_API_VERSION=2026-02-27
DOJO_SOFTWARE_HOUSE_ID=
DOJO_RESELLER_ID=
